<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Harmony Planner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="task">
        <ion-icon name="checkbox"></ion-icon>
        <ion-label>Tasks</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="event">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Events</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
